:root{
  --bs-primary: rgb(250, 143, 71);
  --bs-primary-rgb: 250, 143, 71;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar-brand{
  margin-right: 40px !important;
}
body{
  font-family: "Literata", serif;
  position: relative;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
a{
  color: black;
  text-decoration: none;
}
.p-80{
  padding-top: 80px;
  padding-bottom: 80px;
}
.pb-80{
  padding-bottom: 80px;
}
.carousel img {
  height: 750px;
  object-fit: cover;
}
.carousel-indicators [data-bs-target]{
  background-color: black;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.carousel-caption{
  color: black;
}
.hero-caption{
  font-size: 80px !important;
}
.carousel-caption{
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.btn-custome{
  background-color: black;
  color: white;
  border: 1px solid black;
  transition: all 0.5s ease;
}
.btn-custome:hover{
  background-color: var(--bs-primary);
    border: 1px solid var(--bs-primary);
}
.p-line{
  width: 30px;
  height: 2px;
  background-color: black;
}
.banner-text-1{
  right: 5%;
}
.banner-text-2{
  top: 5%;
  right: 5%;
}
.banner-text-3{
  left: 5%;
  bottom: 5%;
}
.banner-text a{
  transition: all 0.5s ease;
}
.banner-text-1 a:hover, .banner-text-2 a:hover, .banner-text-3 a:hover{
  color: var(--bs-primary);
}
.title h2{
  letter-spacing: 2px;
  text-transform: uppercase;
  border: 2px solid black;
  width: 400px;
  margin: 0px auto;
}
.banner{
  height: 500px;
  background: url(../src/assets/images/banner101.jpg);
}
.banner p, .banner h2, .discount-banner p{
  letter-spacing: 3px;
}
.discount-banner{
  height: 500px;
  background: url(../src/assets/images/banner28.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.facilities, .footer-newsletter, .footer{
  background-color: #F4F4F4;
}
.prefooter-grid{
  width: calc(100% / 5);
}
